<div class="login-wrapper">
  <div class="login-bg">
    <img class="concord-img vlv-creative"
      src="https://assets.nflxext.com/ffe/siteui/vlv3/cd4c21a2-994a-42f1-a6c4-2e0b57438223/2cb7463d-4566-4ef6-af27-9468f5db94aa/KR-ko-20190701-popsignuptwoweeks-perspective_alpha_website_small.jpg"
      srcset="https://assets.nflxext.com/ffe/siteui/vlv3/cd4c21a2-994a-42f1-a6c4-2e0b57438223/2cb7463d-4566-4ef6-af27-9468f5db94aa/KR-ko-20190701-popsignuptwoweeks-perspective_alpha_website_small.jpg 1000w, https://assets.nflxext.com/ffe/siteui/vlv3/cd4c21a2-994a-42f1-a6c4-2e0b57438223/2cb7463d-4566-4ef6-af27-9468f5db94aa/KR-ko-20190701-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w, https://assets.nflxext.com/ffe/siteui/vlv3/cd4c21a2-994a-42f1-a6c4-2e0b57438223/2cb7463d-4566-4ef6-af27-9468f5db94aa/KR-ko-20190701-popsignuptwoweeks-perspective_alpha_website_large.jpg 1800w"
      alt="">
  </div>
  <app-login-header></app-login-header>
  <div class="login-body">
    <div class="login-content">
      <div class="login-form">
        <h1>로그인</h1>
        <form [formGroup]="loginForm">
          <div class="email-container">
            <div class="input-container" [class.error]="email.invalid && email.touched">
              <input type="text" class="textField" id="login-email" name="email" formControlName="email"
                (focusin)="emailHolderUp = true" (focusout)="emailFocus($event.target.value)">
              <label for="login-email" class="placeLabel" [class.up]="emailHolderUp">이메일 주소</label>
            </div>
            <div
              *ngIf="(email.errors?.required && email.touched) ||(email.errors?.minlength || email.errors?.maxlength) || email.errors?.pattern && email.touched"
              class="error-message">정확한 이메일
              주소를 입력하세요.</div>
          </div>
          <div class="pw-container">
            <div class="input-container" [class.error]="password.invalid && password.touched">
              <input type="password" class="textField" id="login-password" name="password" formControlName="password"
                (focusin)="pwHolderUp = true" (focusout)="pwFocus($event.target.value)">
              <label for="login-password" class="placeLabel" [class.up]="pwHolderUp">비밀번호</label>
            </div>
            <div
              *ngIf="(password.errors?.required && password.touched) ||(password.errors?.minlength || password.errors?.maxlength )&& password.touched"
              class="error-message">비밀번호는 4~60자 사이여야 합니다.</div>
          </div>
          <button type="submit" class="submit">로그인</button>
          <div class="login-help">
            <div class="remember-me">
              <input type="checkbox" name="remember" id="remember">
              <label for="remember" class="remember-label">로그인 정보 저장</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-login-footer></app-login-footer>
</div>
