:host {
  display: block;
  width: 100%;
  height: 90px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

/* https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.woff */
.logo {
  margin-left: 3%;
  text-decoration: none;
  fill: #e50914;
  display: inline-block;
  line-height: 90px;
  vertical-align: middle;
  height: 45px;
  width: 167px;
}

.logo img {
  width: 100%;
}

.login {
  margin: 0 3%;
  float: right;
  color: #333;
  font-weight: 700;
  font-size: 19px;
  line-height: 90px;
  font-family: "Netflix"
}

a:hover {
  text-decoration: underline;
}
