.navigation{
  /* background-color: green; */
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}


.logoLink{
  height: 45px;
  width: 167px;
  vertical-align: middle;
  line-height: 90px;
}
.logo{
  height: 45px;
  width: 167px;
  margin-left: 2.9%;
  display: inline-block;
  /* background-color: yellow; */
}

.login{
  float: right;
  color: #333;
  font-weight: 700;
  font-size: 19px;
  line-height: 90px;
  margin: 0 4%;
  text-decoration: none;
}
.login:hover{
  text-decoration: underline;
}
.freeNotice, .stepTitle, .freeNoticeSection{
  margin: 20px auto;
  width: 440px;
}

.loginForm{
  background-color: darkcyan;
  margin: 20px auto;
}

.freeNoticeSection{
  background-color: chartreuse;
}

.freeNotice{
  background-color: #0071eb;
  padding: 22px 0;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.freeNotice strong, b{
  font-weight: 700;
}

.stepTitle {
  display: inline-block;
  font-weight: 700;
  font-size: 23px;
  margin: 0 0 .6em 0;
  background-color : salmon;
  
}

.contextRow{
  font-size: 19px;
  text-align: left;
}